* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--padding-l: 3em;
	--bg-color: rgb(255, 240, 255);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2f2f2f;
    background-color: var(--bg-color);
    line-height: 25px;
}

header {
	padding: var(--padding-l);
}

main section:nth-child(2) {
	display: grid;
	gap: 2.5em;
	grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	padding: 0 var(--padding-l);
	margin-bottom: 5em;
}

main section figure {
	background: rgb(255, 255, 255);
	box-shadow: 0px 0px 10px #00000030;
	height: 25em;
	overflow: hidden;
	padding: 1em;
	width: 100%;
    transition: opacity 0.1s ease-in-out;
}

main section figure:not(:hover) img {
	filter: grayscale(1);
}

main section figure img {
	box-shadow: 0px 0px 10px #00000020;
	object-fit: cover;
	height: 65%;
    margin-bottom: 5%;
	transition: filter .25s ease-in-out;
	width: 100%;
}

main section figure figcaption ol {
	padding-inline-start: 1.7em;
}

main section:nth-child(1) {
	margin-left: var(--padding-l);
    width: clamp(18em, 50%, 35em);
}

.hidden {
    opacity: 0;
}

p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 2rem;
}

p + strong{
  display: block;
  margin: 3rem 0;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2.5rem;
  background-color: #202020;
  font-weight: 300;
  font-size: 15px;
  color: rgb(119, 119, 119);
}

footer section{
    padding: 2vw;
}

footer section h3 {
    margin-bottom: 1rem;
}

footer section ul{
    list-style-type: none;
}

footer section ul li{
    font-weight: 600;
    font-size: 0.8em;
}

footer strong{
    font-weight: bolder;
}

ul li a {
	color: inherit;
	text-decoration: none;
}

ul li a:hover {
    color: pink;
}

 .leonie{
    transform-origin: center;
}
 .leonie:hover{
    animation: thankyou 2s ease infinite forwards;
 }

 @keyframes thankyou{
     0%{
        transform:  scale(1.0, 1.0);
        color: black;
     }
     100%{
        transform: scale(1.1, 1.1);
        color: pink;
        font-size: 2em;
     }
 }