<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<title>T-shirt Shine</title>
	<link rel="manifest" type="application/manifest+json" href="/manifest/manifest.webmanifest" crossorigin="use-credentials">
  <meta name="theme-color" content="#000000">
  <link rel="apple-touch-icon" href="/images/favicon.ico">
  <script src="/js/script.js" defer></script>
  <meta name="description" content="Kunstkijken webapp">
  <meta name="keywords" content="webapp, node, serverside">	
</head>
<body>
    <%if(error.length > 0){%>
      <div class="error">Aanmelden mislukt!</div>
      <% console.log(user) %>
    <%}%>  
<header>
  <a href="/"><img src="/images/logo.png" alt="t-shirt shine"></a>

  <% console.log(error) %>

<% console.log('de user is:', user.firstname) %>
<% if(user.firstname !== "guest" && user.firstname !== undefined ){%>
  <% console.log( 'order user:', user) %> 
  <a href="orders" class="btn">Mijn bestellingen</a>
  <a href="logout" class="btn">Uitloggen</a>
<%}else{%>
    <label for="inloggen" class="btn">Inloggen</label>
    <input type="radio" name="account" value="inloggen" id="inloggen">

    <label for="registeren" class="btn">Registeren</label>
    <input type="radio" name="account" value="registeren" id="registeren">
  
  <form action="/inloggen" method="post" name="inlogform"  class="hide">
    <fieldset>
      <legend>Inloggen</legend>
    <input type="email" name="email" id="email" placeholder="email">
    <input type="password" name="password" id="password" placeholder="wachtwoord">
    <input type="submit" value="inloggen" name="inloggen" class="btn">
    <button class="cancel btn">Cancel</button>
  </fieldset>
  </form>
  <form action="/register" method="post" name="registerform" class="hide">
    <fieldset>
      <legend>Registeren</legend>
    
    <input type="text" name="firstname" id="firstname" placeholder="Naam">
    <select name="gender" id="gender_reg">
      <option value="male">Man</option>
      <option value="female">Vrouw</option>
    </select>
    <input type="email" name="email" id="reg_email" placeholder="Email">
    <input type="password" name="password" id="reg_password" placeholder="Wachtwoord">

    <input type="text" name="land" id="land" placeholder="Land">
    <input type="text" name="city" id="city" placeholder="Plaats">
    <input type="text" name="postal" id="postal" placeholder="Postcode">
    <input type="text" name="street" id="street" placeholder="Straat">
    <input type="text" name="housenumber" id="housenumber" placeholder="Huisnummer">

    <input type="submit" value="Register" name="register" class="btn">
    <button class="cancel btn">Cancel</button>
  </fieldset>
  </form>
  <%}%>  
</header>
<main class="overview">