<%- include("../partials/head")%>
<%- include("../partials/header")%>
  <form action="/admin" method="post" enctype="multipart/form-data">
    <label for="tshirt">Upload t-shirt image</label><br>
    <input type="file" name="tshirt" accept="image/*" id="tshirt"><br><br>
    <label for="kleur">Kleur</label><br>
    <input type="text" name="kleur" id="kleur"><br><br>
    <label for="type">Type</label><br>
    <input type="text" name="type" id="type" value="ronde hals"><br><br>
    <input type="submit" value="toevoegen">
  </form>
  <%- include("../partials/footer")%>