<%- include("../partials/head")%>
<%- include("../partials/header")%>
  <div class="home">
    <h1>Ontwerp je eigen tshirt</h1>
    <a href="/new-credentials">Gelijk aan de slag als gast</a>
    
  </div>
<%- include("../partials/footer")%>