<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
</head>
<body>
  <h1>Tshirt designer!</h1>

  <a href="/new">Gelijk aan de slag als gast</a>
  <hr>
  <a href="/register">Account aanmaken</a>
  <a href="/login">Inloggen</a>
</body>
</html>