<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tshirt design</title>
</head>
<body>
  <form action="/viewOrder" method="post">
    <fieldset>
      <legend>Persoonsgegevens</legend>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" required><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required>
  </fieldset> 

  <fieldset>
      <legend>T-shirt</legend>
      <label for="">Geslacht</label>      
      <ul>
        <li><label for="gender">Man</label><input type="radio" id="male" name="gender" value="male" required><br></li>
        <li><label for="gender">Vrouw</label><input type="radio" id="female" name="gender" value="female"><br></li>        
      </ul>
      <label for="">Maat</label>
      <ul>
        <li><label for="size">Small</label><input type="radio" id="small" name="size" value="small" required><br></li>
        <li><label for="size">Medium</label><input type="radio" id="medium" name="size" value="medium"><br></li>
        <li><label for="size">Large</label><input type="radio" id="large" name="size" value="large"><br></li>
      </ul>
      <label for="">T-shirt kleur</label><br>
      <ul>
        <li><label for="color">Zwart</label><input type="radio" id="black" name="color" value="zwart" required><br></li>
        <li><label for="color">Wit</label><input type="radio" id="white" name="color" value="wit"><br></li>
        <li><label for="color">Rood</label><input type="radio" id="red" name="color" value="rood"><br></li>
        <li><label for="color">Geel</label><input type="radio" id="yellow" name="color" value="geel"><br></li>
        <li><label for="color">Groen</label><input type="radio" id="green" name="color" value="groen"><br></li>
      </ul>
      <label for="text">Tekst</label><br>
      <input type="text" name="text" id="text" required><br>
      <label for="">Lettertype</label>
      <ul>
          <li><label for="font">Sans-serif</label><input type="radio" id="sans-serif" name="font" value="sans-serif"><br></li>
          <li><label for="font">serif</label><input type="radio" id="serif" name="font" value="serif" required><br></li>
          <li><label for="font">arial</label><input type="radio" id="airal" name="font" value="arial"><br></li>
      </ul>
      <label for="">Tekstkleur</label>
      <ul>
          <li><label for="fontColor">Zwart</label><input type="radio" id="sans-serif" name="fontColor" value="#000000"><br></li>
          <li><label for="fontColor">Wit</label><input type="radio" id="sans-serif" name="fontColor" value="#ffffff" required><br></li>
      </ul>        
      <label for="pos">Positie</label>
        <ul>
            <li><label for="pos">Top</label><input type="radio" id="top" name="pos" value="top"><br></li>
            <li><label for="pos">Center</label><input type="radio" id="center" name="pos" value="center" required><br></li>
            <li><label for="pos">Bottom</label><input type="radio" id="bottom" name="pos" value="bottom"><br></li>
          </ul>              
  </fieldset>
  
  <fieldset>
    <legend>Bezorgadres</legend>
    <label for="land">Land</label><br>
    <input type="text" name="land" id="land" required><br><br>
    <label for="city">Plaatsnaam</label><br>
    <input type="text" name="city" id="city" required><br><br>
    <label for="postal">Postcode</label><br>
    <input type="text" name="postal" id="postal" required><br><br>
    <label for="street">Straatnaam</label><br>
    <input type="text" name="street" id="street" required><br><br>
    <label for="housenumber">Huisnummer + toevoeging</label><br>
    <input type="text" name="housenumber" id="housenumber" required>   
  </fieldset>

  <fieldset>
    <legend>Bestellen</legend>
    <label for="send">Bestellen</label><br>
    <input type="submit" value="Bestellen" name="send">
  </fieldset>
  </form>
</body>
</html>