<%- include("../partials/head")%>
<%- include("../partials/header")%>
<form action="/new-tshirt" method="post">
  <fieldset>
    <legend>Persoonsgegevens</legend>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" required value=""><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required>
</fieldset>
<input type="submit" value="t-shirt design">  
</form>
<%- include("../partials/footer")%>