<%- include("../partials/head")%>
<form action="/new-delivery" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>T-shirt</legend>
    <label for="">Geslacht</label>      
    <ul class="gender">
      <li><input type="radio" id="male" name="gender" value="male" required><label for="male"><span>&#129492;</span><p>Man</p></label><br></li>
      <li><input type="radio" id="female" name="gender" value="female"><label for="female"><span>&#129489;</span><p>Vrouw</p></label><br></li>        
    </ul>
    <label for="">Maat</label>
    <ul>
      <li><label for="small">Small</label><input type="radio" id="small" name="size" value="small" required><br></li>
      <li><label for="medium">Medium</label><input type="radio" id="medium" name="size" value="medium"><br></li>
      <li><label for="large">Large</label><input type="radio" id="large" name="size" value="large"><br></li>
    </ul>
    <label for="">T-shirt kleur</label><br>
    <ul class="shirtColor">
      <li><input type="radio" id="black" name="color" value="zwart" required><label for="black">Zwart</label><br></li>
      <li><input type="radio" id="white" name="color" value="wit"><label for="white">Wit</label><br></li>
      <li><input type="radio" id="red" name="color" value="rood"><label for="red">Rood</label><br></li>
      <li><input type="radio" id="yellow" name="color" value="geel"><label for="yellow">Geel</label><br></li>
      <li><input type="radio" id="green" name="color" value="groen"><label for="green">Groen</label><br></li>
    </ul>
    <label for="text">Tekst</label><br>
    <input type="text" name="text" id="text" required><br>
    <label for="">Lettertype</label>
    <ul class="font">
        <li><label for="sans-serif">Sans-serif</label><input type="radio" id="sans-serif" name="font" value="sans-serif" style="font-family: sans-serif;"><br></li>
        <li><label for="serif">serif</label><input type="radio" id="serif" name="font" value="serif" required style="font-family: serif;"><br></li>
        <li><label for="arial">arial</label><input type="radio" id="arial" name="font" value="arial" style="font-family: Arial, Helvetica, sans-serif;"><br></li>
    </ul>
    <label for="">Tekstkleur</label>
    <ul class="textColor">
        <li><input type="radio" id="whiteFont" name="fontColor" value="#000000"><label for="whiteFont">Zwart</label><br></li>
        <li><input type="radio" id="blackFont" name="fontColor" value="#ffffff" required><label for="blackFont">Wit</label><br></li>
    </ul>        
    <label for="pos">Positie</label>
      <ul class="pos">
          <li><label for="top">Top</label><input type="radio" id="top" name="pos" value="10"><br></li>
          <li><label for="center">Center</label><input type="radio" id="center" name="pos" value="25" required><br></li>
          <li><label for="bottom">Bottom</label><input type="radio" id="bottom" name="pos" value="45"><br></li>
        </ul>              
</fieldset>

<fieldset>
  <legend>Afbeelding</legend>
  <input type="file" name="afbeelding" accept="image/*" id="afbeelding">
</fieldset>
<input type="submit" value="Bezorggegevens">  
</form>

<script>
  let kleur = "wit";
  const form = document.querySelector('main form'); 
  const main = document.querySelector('main'); 
  const viewer = `
  <section class="viewer">
    <h2>voorbeeld</h2>
    <span class="shirtInfo">
      <div class="drop"><p class="exampleText"></p></div>
      <div class="drop"><img src="" alt="" id="output" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)"></div>
      <div class="drop"></div>
    </span>
  </section>
  `;
  form.insertAdjacentHTML("beforebegin", viewer);
  main.style.display = "flex";
  main.style.justifyContent = "space-around";
  const shirtInfo = document.querySelector(".shirtInfo");

  const image = document.querySelector('img');
  const shirtKleuren = document.querySelectorAll('.shirtColor li');

  shirtKleuren.forEach((shirtKleur) => {
    shirtKleur.addEventListener('click', (event)=>{
      const targetKleur = event.target;
      if(targetKleur.nodeName == "INPUT"){
        kleur = targetKleur.value;
        shirtInfo.style.background = `url(images/${targetKleur.value}.png)`;
        shirtInfo.style.background = `url(images/${kleur}.png)`;
        shirtInfo.style.backgroundSize = "contain";
        shirtInfo.style.backgroundRepeat = "no-repeat";   
        shirtInfo.style.backgroundPosition = "center";   
      }
    })
  });

  const tekst = document.querySelector("#text");
  const exampleText = document.querySelector(".exampleText");
  tekst.addEventListener('input', (event)=>{
    exampleText.innerHTML = event.target.value;
  })

const tekstKleuren = document.querySelectorAll('.textColor input');
tekstKleuren.forEach((tekstKleur)=>{
  tekstKleur.addEventListener("click", (e)=>{
    exampleText.style.color = e.target.value;
  })
})

const tekstFont = document.querySelectorAll('.font input');
tekstFont.forEach((font)=>{
  font.addEventListener("click", (e)=>{
    exampleText.style.fontFamily = e.target.value;
  })
})

const tekstPos = document.querySelectorAll('.pos input');
tekstPos.forEach((pos)=>{
  pos.addEventListener("click", (e)=>{
    exampleText.style.marginTop = e.target.value + "%";
  })
})

shirtInfo.style.background = `url(images/${kleur}.png)`;
shirtInfo.style.backgroundSize = "contain";
shirtInfo.style.backgroundRepeat = "no-repeat";
shirtInfo.style.backgroundPosition = "center"

const upload = document.querySelector("#afbeelding");

upload.addEventListener("change", (e)=>{
  const input = event.target;
  const reader = new FileReader();
  reader.onload = () => {
    const dataURL = reader.result;
    const output = document.querySelector("#output");
    output.src = dataURL;
    output.style.width = "50px";
  }
    reader.readAsDataURL(input.files[0]);
});



var dragged;

  /* events fired on the draggable target */
  document.addEventListener("drag", function( event ) {

  }, false);

  document.addEventListener("dragstart", function( event ) {
      // store a ref. on the dragged elem
      dragged = event.target;
      // make it half transparent
      event.target.style.opacity = .5;
  }, false);

  document.addEventListener("dragend", function( event ) {
      // reset the transparency
      event.target.style.opacity = "";
  }, false);

  /* events fired on the drop targets */
  document.addEventListener("dragover", function( event ) {
      // prevent default to allow drop
      event.preventDefault();
  }, false);

  document.addEventListener("dragenter", function( event ) {
      // highlight potential drop target when the draggable element enters it
      if ( event.target.className == "drop" ) {
          event.target.style.background = "#f1f1f1";
      }

  }, false);

  document.addEventListener("dragleave", function( event ) {
      // reset background of potential drop target when the draggable element leaves it
      if ( event.target.className == "drop" ) {
          event.target.style.background = "";
      }

  }, false);

  document.addEventListener("drop", function( event ) {
      // prevent default action (open as link for some elements)
      event.preventDefault();
      // move dragged elem to the selected drop target
      if ( event.target.className == "drop" ) {
          event.target.style.background = "";
          dragged.parentNode.removeChild( dragged );
          event.target.appendChild( dragged );
      }
    
  }, false);

</script>
<%- include("../partials/footer")%>