<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/userpage" method="post">
    <input type="submit" value="Uitloggen">
  </form>
  <h1>Hi, <%= user.firstname%></h1>
  <a href="/new">Nieuw t-shirt ontwerpen!</a>
  <% bestellingen.forEach(bestelling => { %>
    <a href="/edit/<%- bestelling.id%>"> 
      <article>
        <p><img src="images/uploads/<%= bestelling.image%>" style="width: 150px"></p>
        <p><%= bestelling.text%></p>
      </article> 
    </a>
  <%})%>  
</body>
</html>