*{box-sizing: border-box;}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


header{
  background-color: #f0f0f0;
  border-bottom: 1px solid #d0d0d0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header em{
  font-size: 2em;
  font-style: normal;
}

header a{
  text-decoration: none;
  color: #000;
}

button, input[type="submit"], nav a{
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #303030;
  border: 1px solid #303030;
  border-radius: 10px;
  font-weight: 600;
  transition: background-color 0.5s ease;
  text-decoration: none;
}

button, nav a, .home a:hover{
  background-color: #dfdfdf;
  cursor: pointer;
}

footer{
  background-color: #f0f0f0;
  border-top: 1px solid #d0d0d0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home hr {
  display: none;
}

.home a{
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #303030;
  border: 1px solid #303030;
  border-radius: 10px;
  font-weight: 600;
  transition: background-color 0.5s ease;
  text-decoration: none;
}

.home header{
  background-color:green;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home section{
  padding: 15px;
}

.home article {
  display: inline-block;
  position: relative;
  min-width: 150px;
  margin-right: 15px;
}

.home article p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  top: 25px;
  z-index: 1;
  max-width: 50%;    
}

main form {
  display: inline-block;
  width: 50%;
  margin-left: calc(50% - 250px);
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px;
  background-color: #f1f1f1;
  box-shadow: 0px 10px 15px #d0d0d0;
  border-radius: 5px;
  max-width: 500px;
}

.userpage article {
  display: inline-block;
  position: relative;
  min-width: 150px;
  margin-right: 15px;
}

.userpage p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  top: 25px;
  z-index: 1;
  max-width: 50%; 
}

.userpage h1 + a {
  display: block;
  margin-bottom: 15px;
}

main form[action*="login"]  label{
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 40px;
}

main nav form{
  margin: auto;
  width: auto;
  box-shadow: none;
}

.userpage a {
  text-decoration: none;
}