*{box-sizing: border-box;}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  min-height: 95vh;
}

header{
  background-color: #f0f0f0;
  border-bottom: 1px solid #d0d0d0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header em{
  font-size: 2em;
  font-style: normal;
}

header a{
  text-decoration: none;
  color: #000;
}

button, input[type="submit"], nav a{
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #303030;
  border: 1px solid #303030;
  border-radius: 10px;
  font-weight: 600;
  transition: background-color 0.5s ease;
  text-decoration: none;
}

button, nav a, .home a:hover{
  background-color: #dfdfdf;
  cursor: pointer;
}

footer{
  background-color: #f0f0f0;
  border-top: 1px solid #d0d0d0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home hr {
  display: none;
}

.home a{
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #303030;
  border: 1px solid #303030;
  border-radius: 10px;
  font-weight: 600;
  transition: background-color 0.5s ease;
  text-decoration: none;
}