*{box-sizing: border-box;}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}


header{
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header em a{
  font-size: 2em;
  font-style: normal;
  color: #101010;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}

header a{
  text-decoration: none;
  color: #fff;
}

header a:not(em > a), input[type="submit"]{
  background-color: #ffff00;
  padding: 10px 20px;
  color: #000;
  font-weight: 600;
  transition: background-color 0.5s ease;
  text-decoration: none;
  border: none;
  font-family: sans-serif;  
}


button:hover, nav a:hover, .home a:hover{
  background-color: rgb(182, 169, 23);
  cursor: pointer;
}

footer{
  background-color: #f0f0f0;
  border-top: 1px solid #d0d0d0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home hr {
  display: none;
}

fieldset{
  border: none;
  padding: 0px;
}

fieldset legend{
  font-weight: bold;
  font-size: 1.2em;
}

fieldset input{
  margin: 10px 0px;
}


.home header{
  background: linear-gradient(-45deg, #0c256f, blue);
  padding: 100px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.home section{
  padding: 15px;
  background-color: #fff;
  margin: 15px;
  box-shadow: 0px 0px 15px #ddd;
  border: 1px solid #d0d0d0;
  display: inline-block;
}

.home section:nth-child(2){
  width: calc(100% - 30px);
}

.home section:nth-child(3),
.home section:nth-child(4),
.home section:nth-child(5){
  width: 31%;
  height: 150px;
  background-color: blue;
  color: #fff;
}


.home article {
  display: inline-block;
  position: relative;
  min-width: 150px;
  margin-right: 15px;
  text-align: center;
}

.home article p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  top: 25px;
  z-index: 1;
  max-width: 50%;    
}

main form {
  display: inline-block;
  width: 50%;
  margin-left: calc(50% - 250px);
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 10px 15px #d0d0d0;
  border-radius: 5px;
  max-width: 500px;
}

.userpage article {
  display: inline-block;
  position: relative;
  min-width: 150px;
  margin-right: 15px;
}

.userpage p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  top: 25px;
  z-index: 1;
  max-width: 50%; 
}

.userpage h1 + a {
  display: block;
  margin-bottom: 15px;
}

main form[action*="login"]  label{
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 40px;
}

main nav form{
  margin: auto;
  width: auto;
  box-shadow: none;
}

.userpage a {
  text-decoration: none;
}

form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

form label{
  font-weight: bold;
}

form ul label{
  margin-right: 5px;
  font-weight: unset;
}


form ul li {
  line-height: 4px;
  padding-right: 10px;
  margin: 0;
  display: inline-block;
}

form input{
  margin-bottom: 10px
}

section.userpage {
  background: #fff;
  margin: 15px;
  padding: 15px;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 0px 15px #ddd;
}

@media only screen and (max-width: 600px) {
  header a:not(em > a), input[type="submit"] {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}

.home section:nth-child(3), .home section:nth-child(4), .home section:nth-child(5) {
  display: block;
  width: auto;
}

.home header {
  padding: 50px 15px;
}

article {
  width: 100%;
  text-align: center;
}
}

@supports (display: grid) {
  section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  section:nth-child(2) :first-child {
    grid-column: 1 / -1;
  }
}