<%- include("../partials/head")%>
  <form action="/login" method="post">
  <label for="email">Email</label><br>
  <input type="email" name="email" id="email"><br><br>
  <label for="wachtwoord">Wachtwoord</label><br>
  <input type="password" name="wachtwoord" id="wachtwoord"><br><br>
  <label for="inloggen">Inloggen</label><br>
  <input type="submit" name="inloggen" id="inloggen" value="inloggen"><br><br>
  </form>
  <%- include("../partials/footer")%>